.home-vertical .event-main {
  width: 100%;
  height: 33%;
  display: block;
  padding: 10px;
  margin-bottom: 1%;
}
.home-vertical .event-main > .event-image {
  width: 270px;
  height: 152px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.home-vertical .event-image > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-vertical .event-informations {
  width: 100%;
}
.home-vertical .event-informations > * {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3vw;
}

.home-vertical .event-informations > h1 {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 2.5vw;
}
.home-vertical .home-events > h1 {
  width: 100%;
  font-size: 3vw;
  text-align: center;
}

.home-vertical .event-informations > span {
  width: 100%;
  font-size: 2vw;
}

.home-vertical .home-events {
  height: 90%;
}

.home-vertical .events-container {
  height: 100%;
}