.home-horizontal .event-main {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.home-horizontal .event-main > .event-image {
  width: 200px;
  height: 112px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-horizontal .event-image > img {
  width: 100%;
  height: 100%;
}
.home-horizontal .event-image > .event-name {
  position: absolute;
  z-index: 999;
  top: 25%;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1vw;
  line-height: 190%;
}
.home-horizontal .event-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  width: 45%;
  text-align: center;
  padding-left: 40px;
  width: 65%;
}
.home-horizontal .event-informations > * {
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.home-horizontal .event-informations > h1 {
  font-size: 1.4vw;
}
.home-horizontal .event-informations > .time {
  font-size: 1vw;
  margin-bottom: 10px;
}
.home-horizontal .event-informations > .place {
  font-size: 1.5vw;
}

