.home-vertical .event-main {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: rgba(188, 22, 124, 0.7);
  border: 5px solid rgba(188, 22, 124, 0);
  box-shadow: 0 0 7px 0 #bc167c;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-vertical .event-main > .event-image {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.home-vertical .event-image > img {
  max-width: 100%;
  max-height: 100%;
}
.home-vertical .event-image > .event-informations {
  position: absolute;
  z-index: 999;
  top: 20%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.home-vertical .event-informations > * {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.home-vertical .event-informations > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
