.home-events {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: transparent;
  border: 2px solid white;
  box-shadow:
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F,
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F;
  border-radius: 30px;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.36);
  margin-right: 44px;
}

.home-events>h1{
  color: transparent;
  -webkit-text-stroke: 2px #FEE4AB;
  font-size: 3.2vw;
  text-shadow:  
              0px 0px 10px #FEE4AB;
}

.events-container {
  width: 100%;
  height: 86%;
}
.event-main {
  width: 100%;
  height: 30%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.event-main > .event-image {
  height: 90%;
  width: 60%;
  position: relative;
  display: inline-block;
}
.event-image > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.event-image > .event-name {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 15%;
  top: 20%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 80%;
}
.event-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 40%;
  text-align: center;
}
