.home-horizontal .event-main {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: rgba(188, 22, 124, 0.7);
  border: 5px solid rgba(188, 22, 124, 0);
  box-shadow: 0 0 7px 0 #bc167c;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-horizontal .event-main > .event-image {
  width: 280px;
  height: 157px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-horizontal .event-image > img {
  width: 100%;
  height: 100%;
}
.home-horizontal .event-image > .event-name {
  position: absolute;
  z-index: 999;
  top: 30%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.3vw;
}
.home-horizontal .event-name > h1 {
  color: white;
}
.home-horizontal .event-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-size: 1.3vw;
  width: 45%;
  text-align: center;
}
.home-horizontal .event-informations > * {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
