.home-vertical .event-main {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-vertical .event-main > .event-image {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.home-vertical .event-image > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-vertical .event-image > .event-informations {
  position: absolute;
  z-index: 999;
  left: 0px;
  top: 10%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 70%;
}
.home-vertical .event-informations > * {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3vw;
}

.home-vertical .event-informations > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 4vw;
}
.home-vertical .home-events > h1 {
  width: 100%;
  font-size: 3vw;
}