.notifications {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.notifications-container {
  width:100%;
  text-align: center;
  padding: 40px;
  position: relative;
}

.notifications-container > img {
  width: 100%;
}

.notifications-container > :not(img) {
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
  left: 0px;
  right: 0px;
}

.notifications-container > .notification-title {
  top: 20%;
  font-size: 7vw;
  font-family: "Hero";
  color: transparent;
  text-shadow: 0px 0px 26px #fff4dc;
  -webkit-text-stroke: 2px #FEE4AB;
}

.notifications-container > .notification-content {
  top: 55%;
  font-size: 5vw;
}
