@font-face {
  font-family: 'LemonMilk';
  src: url(./assets/fonts/LemonMilk.otf);
}

.home {
  background: #282660 url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-middle {
  width: 33%;
  display: flex;
  justify-content: center;
}
.home-right {
  width: 33%;
  display: flex;
  justify-content: center;
}
.home-logo {
  width: 100%;
}
.home-logo > img {
  width: 100%;
}
.home-time {
  color: white;
  padding: 20px;
  font-size: 40px;
  font-family: 'LemonMilk';
}
.partners {
  margin-top: 40px;
  padding: 5px;
  width: 80%;
  background-color: rgba(188,22,124, 0.7);
  border: 5px solid rgba(188,22,124, 0.0);
  box-shadow: 0 0 7px 0 #bc167c;
  border-radius: 20px;
}
.partners-container {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.partners-container > .partners-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-image > img {
  max-width: 100%;
  max-height: 100%;
}