@font-face {
  font-family: 'LemonMilk';
  src: url(./assets/fonts/LemonMilk.otf);
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'LemonMilk';
  font-size: 16px;
  height: 100%;
}
.home-vertical {
  background-color: #282660;
  background-image: url('./assets/background-vertical.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-vertical .home-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  height: 20%;
}
.home-vertical .home-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 80%;
}
.home-vertical .home-middle > * {
  margin-left: 20px;
  margin-right: 20px;
}
.home-vertical .home-tweets {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(14, 8, 74, 0.5);
  border: 5px solid rgba(14, 8, 74, 0);
  border-radius: 30px;
  overflow: hidden;
}
.home-vertical .home-tweets > .tweets-title {
  margin-bottom: 20px;
  color: white;
  font-size: 2vw;
  text-align: center;
}
.home-vertical .home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: white;
}
.home-vertical .home-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-vertical .home-time-container {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.home-vertical .home-partners {
  width: 24%;
}
.home-vertical .home-partners > .partners {
  width: 90%;
}
.home-vertical .home-logo > img {
  width: 90%;
}
.home-vertical .home-time {
  color: white;
  padding: 20px;
  font-size: 50px;
}
.home-vertical .partners {
  margin-top: 40px;
  padding: 10px;
  width: 50%;
  background-color: rgba(14, 8, 74, 0.9);
  border: 5px solid rgba(14, 8, 74, 0);
  border-radius: 30px;
}
.home-vertical .partners-container {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.home-vertical .partners-container > .partners-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-vertical .partners-image > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
