@font-face {
  font-family: 'Hero';
  src: url(./assets/fonts/HeroNewRegular.otf);
}
html {
  -ms-overflow-style: none;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Hero';
  font-size: 16px;
  height: 100%;
  
}
.home-horizontal {
  background: #282660 url('./assets/background-horizontal.png');
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-left {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-middle {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 95%;
}

.home-horizontal > .home-middle {
  flex-grow: 1;
}

.home-right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-tweets {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  box-shadow:
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F,
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F;
  border-radius: 30px;
  overflow: hidden;
}
.home-tweets > .tweets-title {
  color: transparent;
  -webkit-text-stroke: 2px #FEE4AB;
  font-size: 4vw;
  text-shadow:  
              0px 0px 10px #FEE4AB;
}

.home-logo {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-horizontal .home-logo > img {
  height: 90%;
  width: 90%;
}
.home-time {
  padding: 20px;
  font-size: 90px;
  letter-spacing: -0.6rem;
  -webkit-text-stroke: 2px #FEE4AB  ; /* width and color */
  text-shadow:  
              3px 0px 10px #FEE4AB;

  color: transparent;
}
.partners {
  margin-top: 40px;
  width: 80%;
  background-color: transparent;
  border: 2px solid white;
  box-shadow:
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F,
    inset 2px 2px 20px  #9B1F1F,
    inset -2px -2px 20px  #9B1F1F,
    2px 2px 20px  #9B1F1F,
    -2px -2px 20px  #9B1F1F;
  border-radius: 30px;
}
.partners-container {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.partners-container > .partners-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-image > img {
  max-width: 95%;
  max-height: 95%;
  width: 95%;
  border-radius: 30px;
}