@font-face {
  font-family: 'LemonMilk';
  src: url(./assets/fonts/LemonMilk.otf);
}
html {
  -ms-overflow-style: none;
}

.home {
  background: #282660 url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'LemonMilk';
  font-size: 16px;
  height: 100%;
}
.home-horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-left {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-middle {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 90%;
}
.home-right {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-tweets {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(14, 8, 74, 0.9);
  border: 5px solid rgba(14, 8, 74, 0);
  border-radius: 30px;
  overflow: hidden;
}
.home-tweets > .tweets-title {
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  text-align: center;
}
.home-footer {
  top: 90%;
  height: 10%;
  width: 100%;
  background-color: white;
}
.home-logo {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-logo > img {
  height: 90%;
  width: 90%;
}
.home-time {
  color: white;
  padding: 20px;
  font-size: 90px;
}
.partners {
  margin-top: 40px;
  padding: 5px;
  width: 80%;
  background-color: rgba(14, 8, 74, 0.9);
  border: 5px solid rgba(14, 8, 74, 0);
  border-radius: 30px;
}
.partners-container {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.partners-container > .partners-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-image > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
