.custom-marquee {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.custom-marquee > * {
  position: absolute;
  top: auto;
  bottom: auto;
}
.custom-marquee > span > * {
  margin-left: 100px;
  font-size: 45px;
  white-space: nowrap;
}
