.tweets {
  height: 80%;
  width: 80%;
}

.tweet {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap;
}
.tweets-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tweets-title > img {
  width: 100px;
  height: 90px;
}
.tweet-from {
  color: #cccccc;
  font-size: 12px;
  margin-left: 10px;
}

.tweet-text {
  margin-bottom: 20px;
}